name: Check linting rules

on:
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - 'main'
    paths:
      - '**/*.py'

jobs:
  ruff_check:
    runs-on: ubuntu-latest
    steps:
      steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install the dependencies
        run: uv sync --locked --all-extras --dev

      - run: ruff check
